/* Start variables */
:root{
  --main-padding: 100px;
}
/* End variables */
/* Start Global Rules */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: "Cairo", sans-serif;
}
html{
  scroll-behavior: smooth;
}
ul{
  list-style: none;
}
.contanier{
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  min-height: 97px;
}
/* small */
@media (min-width: 768px){
  .contanier{
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px){
  .contanier{
    width: 970px;
  }
  .landing .intro-text h1{
    font-size: 70px;
  }
}
/* Large */
@media (min-width: 1200px){
  .contanier{
    width: 1170px;
  }
  .landing .intro-text h1{
    font-size: 70px;
  }
}
/* End Global Rules */

/* Start Compontent */ 

/* Start Facebook logo */
.facebook-float {
  position: fixed;   /* ثابت على الشاشة مهما الصفحة تتحرك */
  bottom: 20px;      /* المسافة من تحت */
  left: 70px;        /* المسافة من الشمال */
  width: 40px;       /* حجم اللوجو */
  height: 40px;
  z-index: 1000;     /* يكون فوق كل العناصر */
}

.facebook-float i {
  width: 100%;
  height: 100%;
  border-radius: 50%; /* لو عايز دائرة */
  cursor: pointer;
  font-size: 40px;
  color: black;
}
/* End Facebook logo */

/* End Compontent */
/* Start Compontent */
.main-heading{
  text-align: center;
}
.main-heading h2{
  font-weight: bold;
  font-size: 30px;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.main-heading p{
  position: relative;
  text-align: center;
  top: -30px;
  max-width: 100%;
  line-height: 2;
  padding: 10px;
  color: #777;
}
/* End Compontent */
/* Start header */
header{
  left: 0;
  width: 100%;
  z-index: 2;
}
header .contanier{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .contanier::after{
  content: "";
  position: absolute;
  bottom: 3px;
  height: 1px;
  width: calc(100% - 30px);
  background-color: black;
}
header .contanier .logo img{
  height: 40px;
  border-radius: 50%;
}
header .contanier nav{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .contanier nav .toggle-menu{
  font-size: 22px;
}
@media (min-width: 768px) {
  header .contanier nav .toggle-menu{
    display: none;
  }
}
header .contanier nav ul{
  display: flex;
}
@media (max-width: 768px) {
  header .contanier nav ul{
    display: none;
  }
  header .contanier nav .toggle-menu:hover + ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #eee;
    z-index: 2;
  }
  header .contanier nav ul li a {
    padding: 15px !important;
  }
}
header .contanier nav ul a{
  display: block;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
  padding: 40px 10px;
  color: black;
  text-transform: uppercase;
}
header nav .form {
  position: relative;
  width: 40px;
  height: 30px;
  border-left: 1px solid black;
  margin-left: 30px;
}
header nav .form i {
  position: absolute;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
/* End header */
/* Start sSweet-Pants */
.sweet-pants {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.sweet-pants .box {
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.sweet-pants .box .box-content{
  flex-basis: 45%;
  background-color: #eee;
}
.sweet-pants .box img{
  width: 100%;
}
.sweet-pants .box .text p{
  margin-bottom: 15px;
  font-size: 14px;
  color: #777;
}
.sweet-pants .box .text span{
  font-size: 20px;
  font-weight: 800;
  position: relative;
}
.sweet-pants .box .text a{
  display: block;
  width: fit-content;
  color: black;
  text-decoration: none;
  margin: 15px auto ;
  padding: 5px 20px;
  border: 1px solid black;
  font-size: 14px;
}
/* End sweet-pants */
/* Start Treco */
.treco {
  background-color: #eee;
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.treco .box {
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.treco .box .box-content{
  flex-basis: 45%;
  background-color: white;
}
.treco .box .box-content:last-of-type{
  margin: 40px auto 50px;
}
.treco .box img{
  width: 100%;
}
.treco .box .text p{
  margin-bottom: 15px;
  font-size: 14px;
  color: #777;
}
.treco .box .box-content .text span{
  font-size: 20px;
  font-weight: 800;
  position: relative;
}
.treco .box .text a{
  font-size: 14px;
  display: block;
  width: fit-content;
  color: black;
  text-decoration: none;
  margin: 15px auto;
  padding: 5px 20px;
  border: 1px solid black;
}
/* End Treco */
/* Start Soft */
.soft {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.soft .box {
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.soft .box .box-content{
  flex-basis: 45%;
  background-color: #eee;
}
.soft .box img{
  width: 100%;
}
.soft .box .text p{
  margin-bottom: 15px;
  font-size: 14px;
  color: #777;
}
.soft .box .box-content .text span{
  font-size: 20px;
  font-weight: 800;
  position: relative;
}
.soft .box .text a{
  font-size: 15px;
  display: block;
  width: fit-content;
  color: black;
  text-decoration: none;
  margin: 15px auto ;
  padding: 5px 20px;
  border: 1px solid black;
}
/* End Soft */ 
/* Start Outfit */
.outfit {
  background-color: #eee;
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.outfit .box {
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.outfit .box .box-content{
  flex-basis: 45%;
  background-color: white;
}
.outfit .box img{
  width: 100%;
}
.outfit .box .text p{
  margin-bottom: 15px;
  font-size: 14px;
  color: #777;
}
.outfit .box .box-content .text span{
  font-size: 20px;
  font-weight: 800;
  position: relative;
}
.outfit .box .text a{
  font-size: 14px;
  display: block;
  width: fit-content;
  color: black;
  text-decoration: none;
  margin: 15px auto ;
  padding: 5px 20px;
  border: 1px solid black;
}
/* End outfit */
/* Start Whatsapp logo */
.whatsapp-float {
  position: fixed;   /* ثابت على الشاشة مهما الصفحة تتحرك */
  bottom: 20px;      /* المسافة من تحت */
  left: 20px;        /* المسافة من الشمال */
  width: 40px;       /* حجم اللوجو */
  height: 40px;
  z-index: 1000;     /* يكون فوق كل العناصر */
}

.whatsapp-float i {
  width: 100%;
  height: 100%;
  border-radius: 50%; /* لو عايز دائرة */
  cursor: pointer;
  font-size: 40px;
  color: black;
}
/* End Whatsapp logo */